{{- if not .IsNamedParams -}}
<div class="DatasetProp Error">Invalid prop, named parameters must be used</div>
{{- else -}}
{{- $name := .Get "name" }}
{{- $type := .Get "type" }}
{{- $mapping := .Get "mapping" }}

### {{ $name }}

<ul class="DatasetProp Details">
  <li>
    Type: <code>{{ $type }}</code>
  </li>
  <li>
    Mapping: <code>{{ $mapping -}}</code>
    {{- if eq $mapping "exact" }}
      <a class="btn btn-primary btn-sm" href="{{ "docs/terms/exact-mapping" | relLangURL }}">?</a>
    {{- else if eq $mapping "fulltext" }}
      <a class="btn btn-primary btn-sm" href="{{ "docs/terms/fulltext-mapping" | relLangURL }}">?</a>
    {{- else if eq $mapping "numeric" }}
    <a class="btn btn-primary btn-sm" href="{{ "docs/terms/numeric-mapping" | relLangURL }}">?</a>
    {{ end }}
  </li>
</ul>

{{ if strings.ContainsNonSpace .Inner }}
<div class="DatasetTag Desc">
  {{ .Inner | markdownify }}
</div>
{{ end }}
{{- end -}}
