// @see https://github.com/gethyas/doks-core/tree/main/assets/scss/common

@import "@hyas/doks-core/assets/scss/common/_variables.scss";

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-md:                $font-size-base * 1; // none (default)
$font-size-lg:                $font-size-base * 1.125;
$font-size-xl:                $font-size-base * 1.25; // none (default)

$line-height-base:            1.35;
$line-height-sm:              1.25;
$line-height-lg:              1.5;

$h1-font-size:                $font-size-base * 1.5;
$h2-font-size:                $font-size-base * 1.375;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base * 1.125;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;

$border-radius:               .2rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .2rem;
$border-radius-xl:            .2rem;
$border-radius-xxl:           .2rem;
$border-radius-pill:          .2rem;

$body-bg-dark: black;
$body-color-dark: white;

$button-color-dark: white;

