$primaryColor: #000000 !default;
$primaryLightColor: #000000 !default;
$primaryDarkColor: #000000 !default;
$primaryDarkerColor: #000000 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #f0f0f0 !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../../variables';
@import 'fonts';
@import '../../../../theme-base/_components';
@import '../../extensions';

.p-autocomplete-panel {
  &.HidePanel {
    display: none;
  }

  &.p-focus {
    @include focused();

    border: $inputBorder;
    border-radius: $borderRadius;
    border: 0;
  }
}

:root {
  --font-family-monospace: monospace;
}

.font-mono {
  font-family: var(--font-family-monospace);
}

.text-break-all {
  word-break: break-all;
}

.zoom-90 {
  zoom: 0.9;
}

.zoom-80 {
  zoom: 0.8;
}
