@import 'fonts.css';
@import '../../../node_modules/primevue/resources/primevue.min.css';
@import '../../../node_modules/primeflex/primeflex.css';
@import '../../../node_modules/primeicons/primeicons.css';

$errorColor: red;

@import '@/assets/primefaces/themes/ablegram/ablegram-light/blackwhite/theme.scss';

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: unset;
  }
}

.p-dialog.p-confirm-dialog {
  max-width: 500px;
}

p {
  line-height: 1.4;
}

body {
  overflow-y: scroll;
}
